*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* == VARIABLES== */
:root{
    /* colors */
    --hue: 240;
    --grey-light: hsl(var(--hue), 9%, 89%);
    --grey-normal: hsl(var(--hue), 7%, 78%);
    --grey-dark: hsl(var(--hue), 6%, 58%);
    --black: hsl(var(--hue), 6%, 13%);
    --bg:hsl(var(--hue), 49%, 19%)
}

/* == struct == */

html,
body{
    height: 100%;
    
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body{
    background: url('../images/degrade.png') no-repeat center #121214;

    display: grid;
    place-items: center;
}

main{
    background: url("../images/background.svg") no-repeat center/cover;

    width: 358px;
    height: auto;
    min-height: 540px; 
    
    border-radius: 6px;
}

.faixa{
    width: 80px;
    height: 164px;
    position: fixed;
    top: 0;
    
    background: url('../images/faixa.svg');
}

.container{
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;

    color: var(--grey-light);
    text-align: center;

}
/* ==END== */

/* =AVATAR= */
.avatar{
    width: 10rem;
    margin: 4.5rem auto 1.5rem ;
}

.avatar > img{
    width: 160px;
    height: 184px;
    object-fit: cover;

    clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
}

.avatar span{
    position: absolute;
    z-index: 10;
}
/* ==END== */

h1{
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--grey-dark);

    margin-top: .25rem;

    display: flex;
    gap: .25rem;

    align-items: center;
    justify-content: center;

    margin-left: .25rem;
}

p{
    margin-top: 2rem;

    font-size: .875rem;
}

ul {
    margin: 4rem 0;
    list-style-type: none;

    display: flex;
    gap:.5rem;

    justify-content: center;

}


/* tablet */
@media screen and (max-width:480px){
    main{
        background: url("../images/background.svg") no-repeat center/cover;
    
        width: 100vw;
        height: 100vh;
        
        border-radius: 0;
    }
    .avatar{
        width: 10rem;
        margin: 15.2rem auto 1.5rem ;
    
    }

    .faixa {
        display: none;
    }
}


/* tablet */
@media screen and (min-width:576px){

}

/* desktop */
@media screen and (min-width:980px){

}